In [1]:
import pandas as pd

In [2]:
data = {
    'UserID': range(1, 11),
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma',
             'Frank', 'Grace', 'Hannah', 'Ian', 'Jane'],
    'Age': [25, 30, 35, 40, 29, 34, 28, 31, 36, 33],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix',
             'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose']
}

In [3]:
df = pd.DataFrame(data)

In [4]:
json_orientations = ['records', 'index', 'columns', 'values']

In [5]:
for orientation in json_orientations:
    json_file = f"data_{orientation}.json"
    df.to_json(json_file, orient=orientation)