In [2]:
!pip install Faker

Collecting Faker
  Downloading Faker-25.5.0-py3-none-any.whl (1.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 8.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Installing collected packages: Faker
Successfully installed Faker-25.5.0

In [3]:
from faker import Faker
import numpy as np
import pandas as pd

In [4]:
fake = Faker()

In [5]:
names = [fake.name() for _ in range(100)]
addresses = [fake.address() for _ in range(100)]
emails = [fake.email() for _ in range(100)]

In [6]:
ages = np.random.randint(20, 61, size=100)

In [7]:
income_levels = np.random.normal(loc=50000, scale=15000, size=100)

In [8]:
data = pd.DataFrame({
    'Name': names,
    'Address': addresses,
    'Email': emails,
    'Age': ages,
    'Income': income_levels
})

In [9]:
print(data.head(10))

                Name                                            Address  \
0  Rebecca Hernandez        824 Jones Stream\nPort Robertside, CA 39777
1        Sandra Hall     18472 Christina Parks\nFigueroaville, AS 09896
2        Alan Haynes            14744 Rosales Lock\nBrentview, AK 07170
3         Diane Carr  82326 Harrison Motorway Suite 408\nPort Cindy,...
4     Tina Hernandez      00819 Jennifer Square\nMelissaville, NE 59508
5         Jared Reid      76784 Mcintosh Passage\nNorth Kayla, AL 90902
6      Matthew Gomez       18702 Michael Square\nJeffreymouth, GA 06273
7        Emma Rogers                   PSC 0560, Box 2714\nAPO AE 25137
8       Andrew Lewis    852 Jessica Circle\nNew Angelaborough, MN 80955
9      Tyler Higgins             8666 Davis Cliff\nEast Glenn, PR 35398

                          Email  Age        Income
0         fryandrea@example.net   45  74966.480487
1     christopher12@example.com   48  39594.783307
2      brianjohnson@example.com   51  57392.510985
3            hjones@example.net   44  47665.010209
4      jonesrichard@example.net   60  26836.735417
5  mckinneyveronica@example.net   53  57509.358872
6           tmiller@example.org   52  36211.759335
7      toddwilliams@example.net   49  53157.057502
8      jessicaleach@example.net   55  34069.527200
9      jennaanthony@example.org   37  62233.324780