In [1]:
import pandas as pd

In [2]:
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [30, 25, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

In [3]:
df = pd.DataFrame(data)

In [4]:
excel_file = "data.xlsx"

In [5]:
df.to_excel(excel_file, index=False)

In [7]:
json_file = "data.json"

In [8]:
df.to_json(json_file, orient='records')